<div id="content">
  <div class="name-search">
    <h3>Search for a Name</h3>
    <%= form_tag("/names/search", method: "get", class: "search-form") do %>
      <%= text_field_tag :query %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <div class="animal-meanings">
    <h3>Is it a Cat, Dog?</h3>
    <p><%= link_to "Names meaning 'Cat'", meaning_cat_path %></p>
  </div>

  <div class="random-button">
    <h3>Display a Random Name</h3>
    <p><%= link_to "Click to display a Random Name", random_name_path %></p>
  </div>
</div>