<!DOCTYPE html>
<html>
  <head>
    <title>Pet Names</title>
    <link href='http://fonts.googleapis.com/css?family=Dosis|Merriweather+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <ul class="alpha-menu">
        <% ('A'..'Z').to_a.each do |letter| %>
          <li><a class="<%= letter %>" href="/names/alphabetical/<%= letter %>"> <%= letter %></a></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
